<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Powershell Tool -->
        <add key="AADTenantId" value="common" />
        <add key="AADClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
        <add key="AADRedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>