<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Azure Powershell Tool -->
    <add key="AADTenantId" value="common" />
    <add key="AADClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
    <add key="AADRedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    
    <!-- CSMClient by suwatch@microsoft.com -->
    <!--
    <add key="AADTenantId" value="20f442f9-3a5f-4eda-b45f-59a67b172684" />
    <add key="AADClientId" value="5ed019fa-8766-411e-89f0-bb993ae59196" />
    <add key="AADRedirectUri" value="https://bing.com" />
    -->
    
    <!-- CSMClient by suwatch01@hotmail.com -->
    <!--
    <add key="AADTenantId" value="52c7fa22-9b58-464b-86e0-49cac90640f6" />
    <add key="AADClientId" value="14aa790c-05e7-4f4b-969f-69f0ab14ace7" />
    <add key="AADRedirectUri" value="https://bing.com" />
    -->
    
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>